/* Switcher: Responsive flex items that stack at a threshold */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--s1));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
}
