@media (max-width: 550px) {
  body {
    max-width: min(80ch, 100% - 2rem);
  }
  pre {
    width: 100vw;
    transform: translateX(-1rem);
  }
  .callout pre {
    width: calc(100vw - 2rem);
    transform: translateX(0);
  }
  main img {
    max-width: 100vw;
    transform: translateX(-1rem);
  }
  .projectlist-description,
  .projectlist-metadata {
    font-size: var(--step--1);
  }
  footer svg:has(use) {
    width: 1.25em;
    height: 1.25em;
  }
  .desktop-only {
    display: none;
  }
  .nav {
    gap: 0.5rem;
  }
  .social-links a {
    padding: 0.25rem;
  }
  .social-links-cta {
    display: flex;
    flex-direction: column;
  }

  /* Make tables scrollable on small screens */
  table {
    display: block;
    width: 100vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* max-width: 100vw; */
    transform: translateX(-1rem);
  }
  table th,
  table td {
    padding: 0.5rem;
  }
}
