/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.684rem + 0.0465vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1156rem + 0.375vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.31rem + 0.5778vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.7983rem + 1.2236vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1018rem + 1.718vw, 3.4332rem);
}

h1 {
  font-size: var(--step-4);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}
h5 {
  font-size: var(--step-0);
}
h6 {
  font-size: var(--step--1);
}
body {
  font-size: var(--step-0);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
}

blockquote {
  margin-inline: 2em;
  padding: 0.5em 1em;
  border-inline-start: 4px solid var(--accent);
  background-color: var(--blockquote-bg);
  color: var(--blockquote-text);
  font-style: italic;
}