:root {
  /* Font Families & Syntax */
  --font-family: "IBM Plex Sans", -apple-system, system-ui, sans-serif;
  --font-family-monospace: "IBM Plex Mono", Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
  --syntax-tab-size: 2;

  --brand-orange: #f08a42;
  --social-mastodon: #8373e7;
  --tag: var(--brand-orange);

  --bg: #f8f6f2;
  --text: #301e0e;
  --accent: #c54a20;
  --border-subtle: #a7a29b;
  --border-strong: #a6593f;

  --link-visited: #5c3770;
  --link: #275d27;
  --link-active: #662512;

  --blockquote-bg: #f2efe8;
  --blockquote-text: #5d3d32;
  --table-header-bg: #f1ece2;
  --table-row-stripe-bg: #f4f1eb;

  --text-heading: #bd4d28;
  --text-muted: #5c5137;
  --text-emphasis: #3fa63f;

  --snow-fall-color: rebeccapurple;
}

/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #10141b;
    --text: #e9e2d7;
    --accent: #e88f63;
    --border-subtle: #4b566e;
    --border-strong: #d18661;

    --link-visited: #b990d6;
    --link: #7dcd8a;
    --link-active: #ff9b4f;

    --blockquote-bg: #191f2b;
    --blockquote-text: #dfd3c3;
    --table-header-bg: #1e2430;
    --table-row-stripe-bg: #131720;

    --text-heading: #f0a07e;
    --text-muted: #bca98f;
    --text-emphasis: #8cd899;

    --snow-fall-color: unset;
  }
}

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}