/* === Raw Color Palette === */
/* Not themed. Don't use these directly in components. */
:root {
  --brand: darkorange;
  --social-mastodon: #8373e7;
  --tag: goldenrod;

  --link-light: #082840;
  --link-light-v: #17050f;
  --link-light-a: #5f2b48;
  --link-dark: #1493fb;
  --link-dark-v: #a6a6f8;
  --link-dark-a: #6969f7;

  --bg-light: #fff;
  --bg-dark: #15202b;

  --gray-100: #e0e0e0; /* Lightest */
  --gray-200: #c0c0c0;
  --gray-300: #dad8d8; /* Light text for dark mode */
  --gray-700: #333;    /* Dark text for light mode */

  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
  --syntax-tab-size: 2;
}


/* === Themes === */

/* --- Light Theme (Default) --- */
:root {
  --bg: var(--bg-light);
  --text: var(--gray-700);
  --accent: var(--brand);
  --border-subtle: var(--gray-100);
  --border-strong: var(--gray-700);

  --link: var(--link-light);
  --link-visited: var(--link-light-v);
  --link-active: var(--link-light-a);
}

/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --text: var(--gray-300);
    --border-subtle: var(--gray-700);
    --border-strong: var(--gray-300);

    --link: var(--link-dark);
    --link-visited: var(--link-dark-v);
    --link-active: var(--link-dark-a);
  }
}
