:root {
  /* Font Families & Syntax */
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
  --syntax-tab-size: 2;

  --brand-orange: #f08a42;
  --social-mastodon: #8373e7;
  --tag: var(--brand-orange);

  --bg: #f8f6f2;
  --text: #301e0e;
  --accent: #c54a20;
  --border-subtle: #a7a29b;
  --border-strong: #a6593f;

  --link-visited: #5c3770;
  --link: #275d27;
  --link-active: #662512;

  --blockquote-bg: #f2efe8;
  --blockquote-text: #5d3d32;
  --table-header-bg: #f1ece2;
  --table-row-stripe-bg: #f4f1eb;

  --text-heading: #bd4d28;
  --text-muted: #5c5137;
  --text-emphasis: #3fa63f;

  --snow-fall-color: rebeccapurple;
}

/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #10141b;
    --text: #e9e2d7;
    --accent: #e88f63;
    --border-subtle: #4b566e;
    --border-strong: #d18661;

    --link-visited: #b990d6;
    --link: #7dcd8a;
    --link-active: #ff9b4f;

    --blockquote-bg: #191f2b;
    --blockquote-text: #dfd3c3;
    --table-header-bg: #1e2430;
    --table-row-stripe-bg: #131720;

    --text-heading: #f0a07e;
    --text-muted: #bca98f;
    --text-emphasis: #8cd899;

    --snow-fall-color: unset;
  }
}
