/* Alignment Utilities */
.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.center-content {
  margin-inline: auto;
}

.align-end {
  align-items: flex-end;
}
