{% set projectlist = collections.projects %}
<h3>Featured Projects</h3>

<ul class="taglist">
    {%- for post in projectlist %}
    {% if post.data.featured %}
    <li class="taglist-item">
        <a href="{{ post.url }}" class="taglist-link">{% if post.data.title %}{{ post.data.title }}{% else
            %}<code>{{ post.url }}</code>{% endif %}</a>
    </li>
    {% endif %}
    {%- endfor %}
</ul>