{# Only include the Font Awesome CSS on project pages, included with the CSS per-page bundle #}
<style>{% include "src/css/font-awesome.css" %}</style>

<ul class="projectlist" style="--projectlist-index: {{ (postslistCounter or projectlist.length) + 1 }}">
{%- for project in projectlist %}
	<li class="projectlist-item{% if project.url == url %} projectlist-item-active{% endif %}">

		<a target="_blank" href="{{ project.data.iconUrl }}" class="projectlist-link">
		
		<div class="projectlist-icon-container">
			{% if project.data.iconLabel %}
			{% icon "fab:" + project.data.iconLabel %}
			{% endif %}
		</div>
		
		<div class="projectlist-text-content">
		{% if project.data.title %}
		<span class="projectlist-title">{{ project.data.title }}</span>
		{% else %}
		<code>{{ project.url }}</code>
		{% endif %}
		<div class="projectlist-description">
			{{ project.data.description }}

			{% if project and project.data.tags %}
			{% set _src = project.data.tags %}
			{% else %}
			{% set _src = tags %}
			{% endif %}

			{% if _src is string %}
			{% set tagList = [_src] %}
			{% else %}
			{% set tagList = _src or [] %}
			{% endif %}

			{% if project.data.tags %}
				<br />
			    {%- for tag in tagList | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<span class="projectlist-tag">{{ tag }}</span>
				{# <span class="projectlist-tag">{{ tag }}</span>{%- if not loop.last %}, {% endif %} #}
				{%- endfor %}
			{% endif %}
		</div>
		</div>
		</a>
	
	</li>
{%- endfor %}
</ul>

{% getBundle "fontawesome" %}