<ol class="postlist" style="--postlist-index: {{ (postslistCounter or projectlist.length) + 1 }}">
{%- for project in projectlist %}
	<li class="postlist-item{% if project.url == url %} postlist-item-active{% endif %}">
		<a href="{{ project.url }}" class="postlist-link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate("LLLL yyyy") }}</time>
	</li>
{%- endfor %}
</ol>
