/* Header */
header {
  display: flex;
  /* gap: 1em; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}
.home-link {
  flex-grow: 1;
  font-size: var(--step-1);
  font-weight: 700;
  align-items: center;
}
.home-link:link:not(:hover) {
  text-decoration: none;
}
.atom {
  width: 1.5em;
  height: auto;
  margin-inline-end: 0.25rem;
}
.the-dot {
  color: var(--accent);
}

.social-links {
  display: flex;
  gap: 1em;
}
.social-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-weight: 600;
}
.social-links a[href="/feed/feed.xml"] svg {
  color: var(--accent);
}
.social-links a[href="https://github.com/semanticdata"] svg
{
  color: var(--text);
}
.social-links a[href="https://social.lol/@database"] svg
{
  color: var(--social-mastodon);
}
