/* Nav */
.nav {
  display: flex;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}
.nav-item {
  /* display: inline-block; */
  font-size: var(--step--1);
  border: dashed 1px var(--color-gray-90);
  border-radius: 5px;
  padding: 0.5rem 0;
  flex: 1 1 auto;
  text-align: center;
}
.nav-item:hover {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 6px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
.nav-item[href]:not(:hover) {
  text-decoration: none;
}
.nav a[href][aria-current="page"] {
  /* text-decoration: underline; */
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 6px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
}
.main-nav {
  width: 100%;
  border-bottom: 1px dashed var(--color-gray-20);
  padding-block-end: 1rem;
}
