/* Posts list */
.postlist {
  counter-reset: start-from var(--postlist-index);
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-block-end: 1em;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
  font-size: var(--step--1);
  color: var(--text-muted);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  /* font-size: 1.1875em; */
  font-weight: bold;
  flex-basis: calc(100% - 1.5rem);
  padding-left: 0.25em;
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

.taglist {
  /* list-style: square; */
  padding-left: 1.5rem;
}
/* .taglist-item {
  display: flex;
  flex-wrap: wrap;
} */

/* Tags */
.post-tag {
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-transform: capitalize; */
  font-style: italic;
}
/* .postlist-item > .post-tag {
  align-self: center;
} */

/* Tags list */
.post-metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-metadata time {
  /* margin-right: 1em; */
  color: var(--text-muted);
}
