/* Projects */
.project-metadata {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--border-subtle);
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.projectlist {
  list-style-type: none;
  padding: 0;
}
.projectlist .projectlist-item:not(:last-child) {
  margin-bottom: 1em;
  padding-block-end: 1rem;
  border-bottom: 1px dashed var(--border-subtle);
}
.projectlist-link {
  display: flex;
  align-items: center;
  gap: 1em;

  border: 1px dashed var(--border-subtle);
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  text-decoration: none;
}
.projectlist-link:hover {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 6px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
  transition: all 0.2s ease-out;
}

.projectlist-title {
  color: var(--text);
}

.projectlist-description {
  color: var(--text);
}

.projectlist-icon-container {
  flex-shrink: 0;
  line-height: 1;
}
.projectlist-icon-container > svg {
  color: var(--text);
}

.projectlist-text-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.projectlist-tag {
  color: var(--tag);
  font-size: var(--step--1);
}
.projectlist-tag::before {
  content: "#";
}

.projectlist-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.projectlist-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.projectlist-title svg {
  font-size: var(--step-2);
  flex-shrink: 0;
}
.projectlist-title a {
  text-decoration: none;
}
.projectlist-description {
  margin-bottom: 0.75rem;
}
.projectlist-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}
.projectlist-links a {
  margin-right: 1rem;
}
.projectlist {
  list-style: none;
  padding-left: 0;
}
