---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "layout": "",
  "metadata": {
    "title": "MiguelPimentel.do",
    "description": "Latest version of my personal web site using the Eleventy site generator.",
    "language": "en",
    "base": "https://miguelpimentel.do/",
    "author": {
      "name": "Miguel Pimentel"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feed/simple-rss.xslt" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" type="application/rss+xml"/>
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    {%- for post in collections.posts | reverse %}
      {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <description>{{ post.content | renderTransforms(post.data.page, metadata.base) }}</description>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        {%- if post.data.tags %}
          {%- for tag in post.data.tags %}
            {%- if tag != "posts" %}
              <category>{{ tag }}</category>
            {%- endif %}
          {%- endfor %}
        {%- endif %}
        <dc:creator>{{ metadata.author.name }}</dc:creator>
        <guid>{{ absolutePostUrl }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>