<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include 'partials/meta-tags.njk' %}
		{% include 'partials/head-css-alt.njk' %}
		{% include 'partials/head-links.njk' %}
		{% include 'partials/head-scripts.njk' %}
	</head>

	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<div class="with-sidebar">
			<div>
				<header class="cluster-space-between">
					<div>
						{# <img width="24px" height="24px" src="/assets/img/atom.svg" alt="Atom icon" class="" /> #}
						<a href="/" class="">MiguelPimentel<b class="">.</b>do</a>
					</div>

					<div class="cluster" role="list">
						{% for entry in metadata.social %}
							<div role="listitem" class="">
								<a rel="noopener noreferrer" target="_blank" href="{{ entry.url }}" aria-label="{{ entry.ariaLabel }}">
									{% icon entry.icon %} <span class="desktop-only">{{ entry.label }}</span>
								</a>
							</div>
						{% endfor %}
					</div>
				</header>

				<nav aria-label="Main navigation" class="cluster-space-between">
					{%- for entry in collections.all | eleventyNavigation %}
						<a class="" href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
			entry.title }}</a>
					{%- endfor %}
				</nav>
			</div>

			<div>
				<main class="stack center">
					<heading-anchors>
						{{ content | safe }}
					</heading-anchors>
				</main>

				<footer class="stack-deep">
					<div class="cluster-links" role="list">
						{% for entry in metadata.footer %}
							<div role="listitem">
								<a {% if entry.external %}target="_blank" rel="noopener noreferrer" {% endif %}
					href="{{ entry.url }}">{{ entry.label }}</a>
							</div>
						{% endfor %}
					</div>

					<div class="cluster-gifs">
						{% for entry in metadata.gifs %}
							<div>
								{% if entry.url %}
									<a href="{{ entry.url }}">{% gifsmall entry.gif,
										entry.alt %}</a>
								{% else %}{% gifsmall entry.gif,
									entry.alt %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</footer>
			</div>
		</div>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl 'js' %}"></script>
	</body>
</html>

{% getBundle "fontawesome" %}