<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% set isPost = collections.posts | getCollectionItem(page) %}
		<title>
			{% if title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ metadata.title }} Atom feed">
		<link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{ metadata.title }} RSS feed">
		<link rel="alternate" href="/feed.json" type="application/feed+json" title="{{ metadata.title }} JSON feed">

		<meta name="generator" content="{{ eleventy.generator }}">

		<meta name="author" content="Miguel Pimentel">
		{% if isPost %}
			<meta property="og:type" content="article">
		{% else %}
			<meta property="og:type" content="website">
		{% endif %}
		<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ metadata.title }}">
		<meta property="og:description"
		content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
		<meta property="og:url" content="{{ metadata.url }}">
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:image" content="/og.jpg">
		<meta property="og:logo" content="/atom.svg">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="{{ metadata.url }}">
		<meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}{{ metadata.title }}">
		<meta name="twitter:description"
		content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
		<meta name="twitter:image" content="/og.jpg">

		{#- Add CSS files to the bundle without outputting them directly #}
		{%- css -%}
		{%- include "src/assets/css/_reset.css" -%}
		{%- include "src/assets/css/_base.css" -%}
		{%- include "src/assets/css/_space.css" -%}
		{%- include "src/assets/css/_box.css" -%}
		{%- include "src/assets/css/_center.css" -%}
		{%- include "src/assets/css/_cluster.css" -%}
		{%- include "src/assets/css/_icon.css" -%}
		{%- include "src/assets/css/_grid.css" -%}
		{%- include "src/assets/css/_stack.css" -%}
		{%- include "src/assets/css/_typography.css" -%}
		{%- endcss -%}

		{#- Link to the generated CSS bundle. The browser can cache this file. #}
		<link rel="stylesheet" href="{% getBundleFileUrl 'css' %}">

		{# Favicons #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">
			{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}
		</script>
	</head>

	<body class="stack">
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header class="cluster-space-between">
			<div>
				{# <img width="24px" height="24px" src="/assets/img/atom.svg" alt="Atom icon" class="atom" /> #}
				<a href="/" class="home-link">MiguelPimentel<b class="the-dot">.</b>do</a>
			</div>

			<div class="social-links cluster" role="list">
				{% for entry in metadata.social %}
				<div role="listitem" class="social-link">
					<a rel="noopener noreferrer" target="_blank" href="{{ entry.url }}" aria-label="{{ entry.ariaLabel }}">
						{% icon entry.icon %} {{ entry.label }}
					</a>
				</div>
				{% endfor %}
			</div>
		</header>

		<nav aria-label="Main navigation" class="main-nav cluster center">
			{%- for entry in collections.all | eleventyNavigation %}
				<a class="nav-item" href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
			entry.title }}</a>
			{%- endfor %}
		</nav>

		<main id="main" class="stack-deep center{% if isPost %} prose{% endif %}">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer class="stack">
			<div class="footer-links cluster center" role="list">
				{% for entry in metadata.footer %}
					<div role="listitem">
						<a {% if entry.external %}target="_blank" rel="noopener noreferrer" {% endif %}
					href="{{ entry.url }}">{{ entry.label }}</a>
					</div>
					{# {% if not loop.last %}
						<li aria-hidden="true">·</li>
					{% endif %} #}
				{% endfor %}
			</div>

			<div class="footer-gifs grid-gifs">
				{% for entry in metadata.gifs %}
				<div>
					{% if entry.url %}
						<a href="{{ entry.url }}">{% 88x31 entry.gif,
							entry.alt %}</a>
					{% else %}{% 88x31 entry.gif,
						entry.alt %}
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl 'js' %}"></script>
	</body>
</html>

{% getBundle "fontawesome" %}