<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include 'partials/meta-tags.njk' %}
		{% include 'partials/head-css.njk' %}
		{% include 'partials/head-links.njk' %}
		{% include 'partials/head-scripts.njk' %}
	</head>

	<body class="stack">
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header class="cluster-space-between">
			<div>
				{# <img width="24px" height="24px" src="/assets/img/atom.svg" alt="Atom icon" class="atom" /> #}
				<a href="/" class="home-link">MiguelPimentel<b class="the-dot">.</b>do</a>
			</div>

			<div class="social-links cluster" role="list">
				{% for entry in metadata.social %}
				<div role="listitem" class="social-link">
					<a rel="noopener noreferrer" target="_blank" href="{{ entry.url }}" aria-label="{{ entry.ariaLabel }}">
						{% icon entry.icon %} {{ entry.label }}
					</a>
				</div>
				{% endfor %}
			</div>
		</header>

		<nav aria-label="Main navigation" class="main-nav cluster center">
			{%- for entry in collections.all | eleventyNavigation %}
				<a class="nav-item" href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
			entry.title }}</a>
			{%- endfor %}
		</nav>

		<main id="main" class="stack-deep center{% if isPost %} prose{% endif %}">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer class="stack">
			<div class="footer-links cluster center" role="list">
				{% for entry in metadata.footer %}
					<div role="listitem">
						<a {% if entry.external %}target="_blank" rel="noopener noreferrer" {% endif %}
					href="{{ entry.url }}">{{ entry.label }}</a>
					</div>
					{# {% if not loop.last %}
						<li aria-hidden="true">·</li>
					{% endif %} #}
				{% endfor %}
			</div>

			<div class="footer-gifs grid-gifs">
				{% for entry in metadata.gifs %}
				<div>
					{% if entry.url %}
						<a href="{{ entry.url }}">{% gifsmall entry.gif,
							entry.alt %}</a>
					{% else %}{% gifsmall entry.gif,
						entry.alt %}
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</footer>

		{# Snow fall effect #}
		<is-land on:media="(prefers-reduced-motion: no-preference)">
			<snow-fall></snow-fall>
			<script type="module" data-ondemand src="/assets/js/snow-fall.js"></script>
		</is-land>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl 'js' %}"></script>
	</body>
</html>

{% getBundle "fontawesome" %}