.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space-m, 1.5rem);
}

/* Split after 2 */
/* .stack:only-child {
  block-size: 100%;
}

.stack > :nth-child(2) {
  margin-block-end: auto;
} */

.stack-deep {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-deep * {
  margin-block: 0;
}

.stack-deep * + * {
  margin-block-start: var(--space-m, 1.5rem);
}