*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--bg);
  inline-size: 100%;
  min-block-size: 100vh;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  inline-size: 100%;
  margin: var(--s2) 0;
  border-collapse: collapse;
  text-align: left;
}

table th,
table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border-subtle);
}

table th {
  background-color: var(--table-header-bg);
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: var(--table-row-stripe-bg);
}

pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375;
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-x: auto;
}

code {
  word-break: break-all;
}

.measured {
  max-inline-size: var(--measure);
}
.padded {
  padding-inline: 1rem;
}
.centered {
  margin-inline: auto;
}
/* Font Awesome Icons */
svg:has(use) {
  block-size: 1em;
  inline-size: 1em;
}
/* Skip Link */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}
#skip-link {
  text-decoration: none;
  background: var(--bg);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-strong);
  border-radius: 2px;
}

#skip-link.visually-hidden:focus {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 1rem;
  z-index: 999;
}

.meta-footer {
  margin-block-start: auto;
  padding-block-start: 1rem;
}

.tags-wrapper {
  --cluster-gap: 0.5rem;
}

.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  --cluster-gap: 0.5rem;
}

.project-icon {
  inline-size: 0.8em;
  block-size: 0.8em;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
