/* Header Block */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.home-link {
  flex-grow: 1;
  font-size: var(--step-1);
  font-weight: bold;
  align-items: center;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

.atom {
  width: 1.5em;
  height: auto;
  margin-inline-end: 0.25rem;
}

.the-dot {
  color: var(--brand-orange);
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
}

.social-links a[href="/rss.xml"] svg {
  color: var(--brand-orange);
}

.social-links a[href="https://github.com/semanticdata"] svg {
  color: var(--text);
}

.social-links a[href="https://social.lol/@database"] svg {
  color: var(--social-mastodon);
}

.social-links-cta {
  display: flex;
  gap: 1rem;
}

.social-links-cta a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
}

.social-links-cta a[href="/rss.xml"] svg {
  color: var(--brand-orange);
}

.social-links-cta a[href="https://github.com/semanticdata"] svg {
  color: var(--text);
}

.social-links-cta a[href="https://social.lol/@database"] svg {
  color: var(--social-mastodon);
}

.desktop-only {
  color: var(--text);
}

.desktop-only:hover {
  color: var(--link-active);
}

.desktop-only-cta {
  color: var(--text);
}

.desktop-only-cta:hover {
  color: var(--link-active);
}
