/* Navigation Block */
.main-nav {
  width: 100%;
  border-bottom: 1px dashed var(--border-subtle);
  padding-block-end: 1rem;
}

.nav {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.nav-item {
  font-size: var(--step--1);
  border: dashed 1px var(--border-strong);
  border-radius: 5px;
  padding: 0.5rem 0;
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.nav-item:hover,
.nav-item[href][aria-current="page"] {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 6px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-color: var(--border-strong);
  text-decoration: none;
}

.nav-item[href][aria-current="page"] {
  border-color: var(--brand-orange);
  color: var(--accent);
}

.nav a:visited:not(:hover) {
  color: var(--link);
}
