/* Posts list */
.post-metadata {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--border-subtle);
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-block-start: 1rem;
}
.post-metadata time {
  color: var(--text-muted);
}
.post-metadata > p {
  margin-block: 0.5rem;
}
/* .post-tags {
  margin-block-end: 0.5rem;
} */
.postlist {
  counter-reset: start-from var(--postlist-index);
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-block-end: 1em;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
  font-size: var(--step--1);
  color: var(--text-muted);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  font-weight: bold;
  flex-basis: calc(100% - 1.5rem);
  padding-left: 0.25em;
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

.taglist {
  padding-left: 1.5rem;
}

/* Tags */
.post-tag {
  font-style: italic;
  font-size: var(--step--1);
}
