---
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
---

<h1>Blog</h1>

<p>Observations on software, civil infrastructure, and the person behind the tools. Topics range from CSS view
  transitions and Regex tutorials to managing burnout and mental health.</p>
<p>I write for utility and clarity. New posts are added as I learn and solve problems in my own workflow.</p>
<hr />

{% set postslist = collections.posts %}
{% include "postslist.njk" %}