---
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
---

<h1>Blog</h1>

<p>Here are my latest thoughts and writings in reverse chronological order.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}