---
# eleventyNavigation:
#   key: Home
#   order: 1
numberOfLatestPostsToShow: 3
---
<h2>Hi, I'm Miguel!</h2>
<p>I’m a problem solver, hobby developer, music enthusiast, and public infrastructure advocate based in Minnesota, US. I’m passionate about using technology and creative thinking to tackle challenges, whether it's building better websites or designing efficient urban systems.</p>
<p>With a background in engineering project management and a self-taught love for coding, I enjoy blending my technical knowledge with curiosity-driven side projects. When I’m not working, you’ll find me learning new programming languages, experimenting with web development, or digging into the latest trends in public infrastructure.</p>
<p>I think a lot, work hard, occasionally have existential crises, and know just enough about making websites to make things interesting. While I love writing, coding, and listening to music, my true motivation lies in finding elegant solutions to complex problems.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
