---
# eleventyNavigation:
# key: Home
# order: 1
numberOfLatestPostsToShow: 3
---
<h2>Hi, I'm Miguel!</h2>
<p class="subtitle">I build systems—digital and physical.</p>
<p>I’m an Engineering Project Manager in Minnesota, focused on delivering critical public infrastructure, like roads and
    utilities. My curiosity doesn't stop at the construction site, though. I am a self-taught hobby developer who
    believes the strict discipline of engineering should be applied to technology and everyday problem-solving.</p>

<p>This site is my public workshop: a place to document the process of learning. I think a lot, work hard, and
    occasionally have existential crises, but my constant motivation is finding elegant, practical solutions to complex
    problems. You'll find me documenting how I connect contract management with coding, all while working with a
    meticulously curated music playlist in the background. Check out my latest explorations below.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}