---
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 7
---
<h1>Hi, I’m Miguel.</h1>
<p class="subtitle">Engineering civil infrastructure and digital tools.</p>
<p>I’m an Engineering Project Manager in Minnesota, focusing on public infrastructure like roads and utilities. I apply
    that same engineering discipline to software. As a self-taught developer, I build tools to solve practical
    problems—ranging from Python-based dashboards for traffic analysis to Obsidian plugins and browser extensions that
    streamline my workflow.</p>
<p>This site is my public workshop for documenting my process and sharing what I learn. It’s where I explore how civil
    engineering logic can be used in automation, usually with a playlist in the background.</p>
{# <p>My latest posts and projects are below.</p> #}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}