---
title: Projects
eleventyNavigation:
  key: Projects
  order: 3
---
<h1>Projects</h1>

<p>Some of my software and web development work here. Source code for these and other projects can be found on
  my <a href="https://github.com/semanticdata">GitHub</a> and most recently my <a
    href="https://source.tube/database">SourceTube</a>.</p>

<hr/>
{% set projectlist = collections.projects %}
{% include "projectslist.njk" %}