---
eleventyNavigation:
  key: Projects
  order: 5
---
<h1>Projects</h1>

<p>Here are some of the projects I've worked on:</p>

{% set projectlist = collections.projects %}
{% include "projectslist.njk" %}
